/*

CART ADD / SUBTRACT ITEM QUANTITY

*/
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  /*width: 45px;*/
  width: 70px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

/*

CART ADD / SUBTRACT ITEM QUANTITY

*/



/*

SLICK SLIDE

*/

.slick-container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}
/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

/*SLICK ARROW ICON AND COLOR*/ 

.slick-prev:before,
.slick-next:before {
  color: #444444 !important;
}

.slick-prev:before, .slick-next:before { font-family: icomoon !important; font-size: 40px!important; line-height: 1!important; opacity: 0.75!important; -webkit-font-smoothing: antialiased!important; -moz-osx-font-smoothing: grayscale!important; }   

.slick-prev:before { content: "\e9c8"!important; }
[dir="rtl"] .slick-prev:before { content: "\e9c8"!important; }

[dir="rtl"] .slick-next { left: -10px!important; top: 70px!important; right: auto!important; }
.slick-next:before { content: "\e9cb"!important; }
[dir="rtl"] .slick-next:before { content: "\e9cb"!important; }

/*SLICK ARROW ICON AND COLOR*/ 

/*

SLICK SLIDE

*/





.center-login{
  float: none !important; 
  margin: 0 auto !important;
}

@media screen and (max-width: 480px){
  .center-div{
    float: none !important; 
    margin: 0 auto !important;
    width: 100% !important;
  }
}

@media screen and (min-width : 768px) and (max-width : 1920px) {
  .center-div{
    float: none !important; 
    margin: 0 auto !important;
    width: 95% !important;
  }
}




.remove-outline{
  border: 0 !important; 
  box-shadow: none !important;
}

.panel-remove-outline{
  background-color: #eeeded !important; 
  border: 0 !important; 
  box-shadow: none !important;
}